#head-title-home {
    padding-top: 180px;
}

.ng-autocomplete {
    padding-top: 14px;
}

.ng-autocomplete .autocomplete-container .suggestions-container ul {
    padding: 0;
    margin: 0;
    max-height: 240px;
    overflow-y: hidden;
}

#search-sub-head {
    padding-top: 2px;
    padding-right: 300px;
}

.ng-autocomplete-onsearch {
    padding-top: 14px;
}

#search-sub-head-onsearch {
    padding-top: 2px;
    padding-right: 300px;
}

.ng-autocomplete-onsearch {
    width: 500px;
}

.search-res-content {
    padding-top: 15px;
}

.search-res-head-link {
    font-size: 16px;
    cursor: pointer;
}

.search-res-subhead-link {
    font-size: 14px;
}

.search-res-head-link:hover {
    text-decoration: underline;
}